$gray: hsl(0, 0%, 75%);
$cyan: hsl(180, 66%, 49%);

button {
  border: none;
  background-color: $cyan;
  cursor: pointer;
  color: #fff;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }
}
button:hover {
  background-color: hsl(180, 90%, 60%);
}
.navbar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-top: 2rem;
  img {
    height: 30px;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0 5px;
        color: $gray;
        cursor: pointer;
      }
      li:hover {
        color: black;
      }
    }
    &--login {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $gray;
      }
      a:hover {
        color: black;
      }
      button {
        padding: 8px 24px;
        border-radius: 24px;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
}

.getStarted {
  margin-left: 10%;
  display: flex;
  margin-top: 2rem;
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 4rem;
      margin: 0;
    }
    p {
      margin: 5px 0;
      color: $gray;
    }
    button {
      margin-top: 2rem;
      align-self: baseline;

      padding: 14px 34px;
      border-radius: 24px;
    }
  }
  img {
    width: 50%;
    max-height: 400px;
  }
}

.urlStatistics {
  background-color: #edf1f6;
  height: 500px;
  margin-top: 10rem;
  &__searchWrapper {
    position: relative;
    width: 80%;
    bottom: 15%;
    margin: 0 auto;
    &--inputBlock {
      background-color: hsl(260, 8%, 14%);
      height: 150px;
      gap: 1rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 50%;
        padding: 0.8rem;
        border-radius: 5px;
        outline: none;
        border: none;
      }
      button {
        padding: 0.8rem 3rem;
        border-radius: 5px;
      }
    }
  }
}
