$gray: hsl(0, 0%, 75%);
$cyan: hsl(180, 66%, 49%);

button {
  border: none;
  background-color: $cyan;
  cursor: pointer;
  color: #fff;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }
}
button:hover {
  background-color: hsl(180, 90%, 60%);
}
.navbar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-top: 2rem;
  img {
    height: 30px;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0 5px;
        color: $gray;
        cursor: pointer;
      }
      li:hover {
        color: black;
      }
    }
    &--login {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $gray;
      }
      a:hover {
        color: black;
      }
      button {
        padding: 8px 24px;
        border-radius: 24px;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
}

.getStarted {
  margin-left: 10%;
  display: flex;
  margin-top: 2rem;
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 4rem;
      margin: 0;
    }
    p {
      margin: 5px 0;
      color: $gray;
    }
    button {
      margin-top: 2rem;
      align-self: baseline;

      padding: 14px 34px;
      border-radius: 24px;
    }
  }
  img {
    width: 50%;
    max-height: 400px;
  }
}

.urlStatistics {
  background-color: #edf1f6;
  margin-top: 10rem;
  display: flex;
  &__searchWrapper {
    position: relative;
    width: 80%;
    bottom: 15%;
    margin: 0 auto;
    &--inputBlock {
      background-color: hsl(260, 8%, 14%);
      height: 150px;
      gap: 1rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      top: -10%;
      input {
        width: 50%;
        padding: 0.8rem;
        border-radius: 5px;
        outline: none;
        border: none;
      }
      button {
        padding: 0.8rem 3rem;
        border-radius: 5px;
      }
    }
    &--details {
      text-align: center;
      margin-top: 8rem;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        color: $gray;
        margin: 5px 0;
      }
    }
    &--cardContainer {
      display: grid;
      margin-top: 5rem;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(8, 2fr);
      .cardItem {
        background-color: #fff;
        position: relative;

        .imageBlock {
          background-color: hsl(260, 8%, 14%);
          display: inline-block;
          padding: 0.8rem;
          border-radius: 50%;
          position: absolute;
          left: 8%;
          top: -15%;
          img {
            width: 40px;
            height: 40px;
          }
        }
        &__description {
          margin-top: 1.5rem;
          padding: 1rem 1rem 1rem 7%;
          p {
            color: $gray;
            margin: 5px 0;
          }
        }
      }
      .item1 {
        grid-row: 1 / span 4;
        grid-column: 1 / span 3;
      }
      .item2 {
        grid-row: 2 / span 4;
        grid-column: 5 / span 3;
      }
      .item3 {
        grid-row: 3 / span 4;
        grid-column: 9 / span 3;
      }
      .cardSeparater {
        height: 5px;
        background-color: $cyan;
      }
      .sep1 {
        grid-row: 3;
      }
      .sep2 {
        grid-column: 8;
        grid-row: 4;
      }
    }
  }
}
.getStarted2 {
  background-color: #232127;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
  h1 {
    margin: 1rem;
    font-size: 3rem;
  }
  button {
    padding: 14px 34px;
    border-radius: 24px;
  }
}

footer {
  background-color: black;
  padding: 2rem 8rem;
  display: flex;
  gap: 2rem;
  color: #fff;
  justify-content: space-around;
  .details {
    h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      a {
        text-decoration: none;
        color: $gray;
      }
      a:hover {
        color: $cyan;
      }
    }
  }
  .socials {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    i {
      cursor: pointer;
    }
    i:hover {
      color: $cyan;
    }
  }
}
